body {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
}

.buscador {
    margin-bottom: 20px;
}

#texto {
    margin-top: 20px;
}

.resaltado {
    background-color: yellow;
    padding: 2px;
}

.activo {
    background-color: orange !important;
}
